.icon-plus_vertical-align_center {
	align-self: center;
}

.icon-plus__icon_indent-r_s {
	margin-right: $s;
}
.icon-plus__icon_indent-r_m {
	margin-right: $m;
}
.icon-plus__icon_indent-l_l {
	margin-left: $l;
}
