.layout__container_align_center {
	margin: 0 auto;
}

.layout__container_size_s {
	max-width: 880px;
}

.layout__container_size_m {
	max-width: 1144px;
}

.layout__container_space-v_xxxxl {
	padding: $xxxxl 0;
}

.layout__container_space-v_xxxxxl {
	padding: $xxxxxl 0;
}

.layout__container_indent-b_xxl {
	margin-bottom: $xxl;
}

.layout__container_indent-b_xxxxl {
	margin-bottom: $xxxxl;
}