.theme_size_s {
	font-size: 7px;	
	line-height: 18px;
}

.theme_size_m {
	font-size: 8px;	
	line-height: 21px;
}

.theme_size_l {
	font-size: 10px;	
	line-height: 25px;
}

.theme_size_xl {
	font-size: 11px;	
	line-height: 28px;
}
.theme_size_xxl {
	font-size: 13px;	
	line-height: 34px;
}