.theme_color_project-default {
	.card_view_default,
	.form_view_default,
	.list_view_default {
		background-color: #FFFFFF;
	}
	.image {
		background-color: #FFFFFF;
		width: 100%;
		background-image: url('/images/image-placeholder-primary.svg');
	}
	.button {
		background-color: #0056B3;
	}
	.avatar,
	.placeholder {
		background-color: #000000;
	}
	.card_border_all,
	.form_border_all,
	.informer_border_all,
	.list_border_all {
		border-color: #000000;
	}

	.text_view_primary {
		color: #000000;
	}
	.text_view_secondary {
		color: rgba(0, 0, 0, 0.6);
	}
	.text_view_ghost {
		color: rgba(0, 0, 0, 0.3);
	}
	.text_view_link {
		color: #0070f0;
	}
}

.theme_color_project-brand {
	.card_view_default,
	.form_view_default,
	.list_view_default {
		background-color: #0070f0;
	}
	.button{
		background-color: #FFFFFF;
	}
	.avatar,
	.placeholder {
		background-color: #FFFFFF;
	}
	.card_border_all,
	.form_border_all,
	.informer_border_all,
	.list_border_all {
		border-color: #FFFFFF;
	}

	.text_view_primary {
		color: #FFFFFF;
	}
	.text_view_secondary {
		color: rgba(255, 255, 255, 0.6);
	}
	.text_view_ghost {
		color: rgba(255, 255, 255, 0.3);
	}
	.text_view_link{
		color: #FFFFFF;
	}
}


.theme_color_project-inverse {
	.card_view_default,
	.form_view_default,
	.list_view_default {
		background-color: #000000;
	}
	.image {
		background-color: #000000;
		width: 100%;
		background-image: url('/images/image-placeholder-inverse.svg');
	}
	.button{
		background-color: #FFFFFF;
	}
	.avatar,
	.placeholder {
		background-color: #FFFFFF;
	}

	.card_border_all,
	.form_border_all,
	.informer_border_all,
	.list_border_all{
		border-color: #FFFFFF;
	}

	.text_view_primary {
		color: #FFFFFF;
	}
	.text_view_secondary{
		color: rgba(255, 255, 255, 0.6);
	}
	.text_view_ghost{
		color: rgba(255, 255, 255, 0.3);
	}
	.text_view_link{
		color: #0070f0;
	}
}



.theme_color_project-warning {
	.card_view_default,
	.form_view_default,
	.list_view_default {
		background-color: #FF9900;
	}
	.button{
		background-color: #FFFFFF;
	}
	.avatar,
	.placeholder {
		background-color: #FFFFFF;
	}

	.card_border_all,
	.form_border_all,
	.informer_border_all,
	.list_border_all{
		border-color: #FFFFFF;
	}

	.text_view_primary {
		color: #FFFFFF;
	}
	.text_view_secondary{
		color: rgba(255, 255, 255, 0.6);
	}

	.text_view_ghost{
		color: rgba(255, 255, 255, 0.3);
	}

	.text_view_link{
		color: #FFFFFF;
	}
}



.theme_color_megafon-brand {
	.card_view_default,
	.form_view_default,
	.list_view_default {
		background-color: #1FA55D;
	}
	.button{
		background-color: #FFFFFF;
	}
	.avatar,
	.placeholder {
		background-color: #FFFFFF;
	}

	.card_border_all,
	.form_border_all,
	.informer_border_all,
	.list_border_all{
		border-color: #FFFFFF;
	}

	.text_view_primary {
		color: #FFFFFF;
	}
	.text_view_secondary{
		color: rgba(255, 255, 255, 0.6);
	}

	.text_view_ghost{
		color: rgba(255, 255, 255, 0.3);
	}

	.text_view_link{
		color: #FFFFFF;
	}
}
