.brand-logo_name_yota {
	background-color: #00c0f8
}
.brand-logo_name_megafon {
	background-color: #33c778
}
.brand-logo_name_kcell {
	background-color: #692b96
}
.brand-logo_name_mts {
	background-color: #f70000
}
.brand-logo_size_xxs {
	width: 24px;
	height: 24px;
}
.brand-logo_size_xs {
	width: 32px;
	height: 32px;
}
.brand-logo_size_s {
	width: 40px;
	height: 40px;
}
.brand-logo_size_m {
	width: 60px;
	height: 60px;
}
.brand-logo_size_l {
	width: 80px;
	height: 80px;
}