.theme_space_xxxs {
	margin: $xxxs;
}

.theme_space_xxs {
	margin: $xxs;	
}

.theme_space_xs {
	margin: $xs;	
}

.theme_space_s {
	margin: $s;	
}

.theme_space_m {
	margin: $m;
}

.theme_space_l {
	margin: $l;	
}

.theme_space_xl {
	margin: $xl;	
}

.theme_space_xxl {
	margin: $xxl;	
}
.theme_space_xxxl {
	margin: $xxl;	
}
.theme_space_xxxxl {
	margin: $xxxxl;	
}
.theme_space_xxxxxl {
	margin: $xxxxxl;	
}
.theme_gap_small {
	margin: $gap;
}
.theme_gap_small_half {
	margin: calc($gap/2);
}

