.theme_space-xxxs {
	margin: $xxxs;
}

.theme_space-xxs {
	margin: $xxs;	
}

.theme_space-xs {
	margin: $xs;	
}

.theme_space-s {
	margin: $s;	
}

.theme_space-m {
	margin: $m;
}

.theme_space-l {
	margin: $l;	
}

.theme_space-xl {
	margin: $xl;	
}

.theme_space-xxl {
	margin: $xxl;	
}
.theme_space-xxxl {
	margin: $xxl;	
}
.theme_space-xxxxl {
	margin: $xxxxl;	
}
.theme_space-xxxxxl {
	margin: $xxxxxl;	
}
.theme_gap_small {
	margin: $gap;
}
.theme_gap_small-half {
	margin: calc($gap/2);
}

