* {
	box-sizing: border-box;
}

$xxxs: 2px;
$xxs: 4px;
$xs: 8px;
$s: 12px;
$m: 16px;
$l: 20px;
$xl: 24px;
$xxl: 32px;
$xxxl: 40px;
$xxxxl: 48px;
$xxxxxl: 72px;

$gap: $xxxl;
@media all and (min-width: 1144px) {
	$gap: $m;
}


@import 'theme';
@import 'size';
@import 'space';
@import 'layout';
@import 'grid';